.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.featuresBlock {
  display: flex;
  flex-direction: column;

  font-size: 14px;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.featuresBlockLabel {
  margin-bottom: 16px;

  font-size: 16px;
  color: #000;
  font-weight: 500;

  cursor: default;
}

.featureItem {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.featureTitle {
  max-width: 280px;
  width: 100%;
  margin-right: 10px;

  color: #808080;

  @media screen and (max-width: 1024px) {
    max-width: 50%;
  }
}

.featureValue {
}

.featureValueMultiple {
}

.featureValueMultipleItem {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
