.menuContainer {
  position: relative;
  margin: 0 auto;
  margin-bottom: 8px;
  max-width: 1640px;
  min-width: 280px;
  padding: 0 20px;

  @media screen and (max-width: 1640px) {
    padding: 0 16px;
  }
  @media screen and (max-width: 1080px) {
    display: none;
  }
}
.menu {
  display: flex;
  padding: 0 6px;
  height: 40px;
  background-color: var(--primary-color, #af1ebe);
  border-radius: 8px;
}

.headerMenuItemsWrapper {
  display: flex;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.headerCategory {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 26px;
  white-space: nowrap;

  &:hover,
  &.active {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)),
      var(--primary-color, #af1ebe);
  }

  svg {
    margin-right: 8px;
  }

  @media screen and (max-width: 1400px) {
    font-size: 13px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.headerCategoryAll {
  font-weight: 700;
}
