.accordeonBlock {
  position: relative;
  border-bottom: 1px solid #e3e3e3;
}
.accordeon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 16px;
  cursor: pointer;
}
.accordeonTitle {
  font-size: 16px;
  font-weight: 400;
}
.accordeonArrow {
  display: flex;
  transition: transform 0.4s;

  svg {
    height: 18px;
    width: 18px;
  }
}
.accordeonArrowActive {
  transform: rotate(-90deg);
}

.accordeonPanel {
  padding: 0 16px;
  overflow: hidden;
  height: 0;
  transition: height 0.4s ease-out;
}
