@import "./../../styles.module.scss";

.orderPaymentText {
  display: flex;
  align-items: center;
  max-width: max-content;
  line-height: 24px;
  color: #808080;

  svg {
    margin-right: 8px;
  }
}
