.variantsContainer {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.variants {
  max-width: 332px;
  margin-right: 8px;
}

.variantsDrawer {
  .variantsGrid {
    padding-top: 20px;
  }
}

.variantsGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 60px;
  grid-column-gap: 8px;
  grid-row-gap: 20px;
}

.variant {
  display: flex;
  align-items: center;
  padding: 6px;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  background: #ffffff;

  cursor: pointer;
  user-select: none;
  transition: border-color 0.2s;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &:hover {
    border-color: var(--primary-color-hover);
  }
}

.variantActive {
  composes: variant;
  border-color: var(--primary-color);
}

.variantsToggleBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 60px;
  padding: 5.5px;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  background: #ffffff;

  cursor: pointer;

  color: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;

  span {
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
  }

  &:hover {
    border-color: var(--primary-color-hover);
  }
}
