.variantsContainer {
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-column-gap: 8px;
  width: 100%;

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr 0.22fr;
  }
}

.variantsDrawer {
  height: 0;

  .variantsGrid {
    padding-top: 20px;
  }
}

.variantsGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 20px;

  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.variant {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  background: #ffffff;

  cursor: pointer;
  user-select: none;
  transition: border-color 0.2s;

  &:hover {
    border-color: var(--primary-color-hover);
  }

  &.variantActive {
    border-color: var(--primary-color);
  }
}

.variantImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 6px;

  img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.variantsToggleBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 60px;
  padding: 5.5px;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  background: #ffffff;

  cursor: pointer;

  color: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;

  span {
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
  }

  &:hover {
    border-color: var(--primary-color-hover);
  }
}
