.reviewContainer {
  padding: 32px 0;

  &:not(:last-child) {
    border-bottom: 1px solid #f2f2f2;
  }
}

.reviewHeader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.reviewBody {
  display: flex;
  flex-direction: column;
}

.reviewRating {
  margin-right: 24px;

  font-size: 18px;
  font-weight: 500;
}

.reviewUsername {
  margin-right: 12px;

  font-size: 18px;
  font-weight: 500;
}

.reviewDate {
  color: #808080;
  font-weight: 300;
}

.reviewTextBlock {
  font-size: 14px;
  color: #1a1a1a;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.reviewTextBlockTitle {
  margin-bottom: 2px;

  font-weight: 700;
}
