.orderItem {
  margin-bottom: 32px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
}

.orderItemHeader {
  padding: 24px;
  background-color: rgba(247, 247, 247, 0.8);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  @media screen and (max-width: 767px) {
    padding: 16px;
  }
}
.orderItemId {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;

  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
}
.orderItemDateBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;

  @media screen and (max-width: 767px) {
    margin-top: 16px;
  }
}
.orderItemDelivery {
  padding: 24px;

  @media screen and (max-width: 767px) {
    padding: 24px 16px;
  }
}
.orderItemDeliveryHeader {
  display: flex;
  justify-content: space-between;

  > * + * {
    margin-left: 24px;

    @media screen and (max-width: 767px) {
      margin-left: 16px;
    }
  }
}

.orderItemDeliveryItems {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -4px;
  margin-right: -4px;
}
.orderItemDeliveryItem {
  padding-left: 4px;
  padding-right: 4px;
  max-width: 102px;
  margin-bottom: 8px;
}
.orderItemDeliveryItemImage {
  width: 94px;
  height: 94px;
  background-color: #cacaca;
  border-radius: 8px;
}

.orderItemLink {
  display: flex;
  align-items: center;
  margin-top: 16px;
  color: #3478f6;
  font-size: 16px;
  line-height: 24px;
  transition: color 0.15s;

  &:hover {
    color: #3478f6;
  }

  svg {
    margin-left: 16px;
  }
}
