.reviewModalContent {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.reviewModalTitle {
  width: 90%;
  margin-bottom: 40px;

  font-size: 24px;
  font-weight: 500;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reviewModalDivider {
  margin: 40px -40px;
  width: calc(100% + 80px);
  height: 1px;
  background-color: #f2f2f2;
}

.reviewModalProduct {
  display: flex;
}

.reviewModalProductImage {
  position: relative;
  display: flex;
  flex: 1;
  max-width: 200px;
  margin-right: 24px;
  padding-top: 100px;

  div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.reviewModalProductInfo {
  display: flex;
  flex-direction: column;
  flex: 1;

  font-size: 20px;
}

.reviewModalProductCode {
  margin-bottom: 8px;

  font-size: 12px;
  color: #808080;
}

.reviewModalProductTitle {
  margin-bottom: 8px;

  font-weight: 500;
}

.reviewModalProductPrice {
  font-weight: 700;
}

.reviewModalForm {
  display: flex;
  flex-direction: column;
}

.reviewModalField {
  &:not(:first-child) {
    margin-top: 16px;
  }

  & + button {
    margin-top: 32px;
  }
}

.reviewModalFieldScore {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.reviewModalScoreLabel {
  padding-right: 20px;

  font-size: 16px;
  font-weight: 500;

  span {
    margin-left: 2px;
    color: #e73030;
  }
}
