@import '../../styles.module.scss';

.orderReceiverFormItem {
  + .orderReceiverFormItem {
    margin-top: 8px;
  }

  &.orderReceiverFormRadioItem {
    margin: 16px 0;
  }
}
.orderReceiverFormRadioItem {
  display: flex;
  width: 100%;
}
.orderReceiverFormRadio {
  + .orderReceiverFormRadio {
    margin-left: 16px;
  }
}

.cartUser {
  display: flex;

  svg {
    margin-right: 10px;
  }
}
.cartUserItem {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #808080;

  + .cartUserItem {
    margin-top: 8px;
  }
}
