.goodsBlock {
  margin-top: 40px;
  padding-bottom: 72px;

  @media screen and (max-width: 1024px) {
    margin-top: 28px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 24px;
  }
}

.goodsExpress {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.filtersBlock {
  margin-top: 16px;
}

.goodsList {
  margin-top: 48px;

  @media screen and (max-width: 1024px) {
    margin-top: 32px;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}
