.orderItem {
  margin-bottom: 32px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
}

.orderItemHeader {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  background-color: rgba(247, 247, 247, 0.8);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  @media screen and (max-width: 767px) {
    padding: 16px;
  }

  > * + * {
    margin-left: 24px;

    @media screen and (max-width: 767px) {
      margin-left: 16px;
    }
  }
}
.orderItemId {
  font-size: 24px;
  color: #3478f6;
  transition: color 0.15s;

  &:hover {
    color: #1c68f5;
  }

  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}
.orderItemDate {
  font-size: 16px;
  margin-top: 16px;

  @media screen and (max-width: 767px) {
    margin-top: 12px;
    font-size: 14px;
  }
}
.orderItemStatus {
  padding: 4px 8px;
  font-size: 16px;
  background-color: #bbb;
  border-radius: 4px;

  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}
.orderItemPrice {
  text-align: right;
  margin-top: 16px;
  font-size: 16px;

  @media screen and (max-width: 767px) {
    margin-top: 12px;
    font-size: 14px;
  }
}

.orderItemDelivery {
  padding: 24px;

  @media screen and (max-width: 767px) {
    padding: 16px;
  }
}
.orderItemDeliveryBlock {
  + .orderItemDeliveryBlock {
    margin-top: 24px;

    @media screen and (max-width: 767px) {
      margin-top: 16px;
    }
  }
}
.orderItemDeliveryHeader {
  display: flex;
  justify-content: space-between;

  > * + * {
    margin-left: 24px;

    @media screen and (max-width: 767px) {
      margin-left: 16px;
    }
  }
}
.orderItemDeliveryTitle {
  font-size: 20px;
  font-weight: 500;

  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
}
.orderItemDeliveryStatus {
  display: flex;
  align-items: center;
  font-size: 16px;

  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}
.orderItemDeliveryDot {
  width: 12px;
  height: 12px;
  margin-left: 8px;
  background-color: #cacaca;
  border-radius: 50%;

  &.orange {
    background-color: #ff9522;
  }
}

.orderItemDeliveryItems {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -4px;
  margin-right: -4px;
  margin-top: 16px;
}
.orderItemDeliveryItem {
  padding-left: 4px;
  padding-right: 4px;
  max-width: 102px;
  margin-bottom: 8px;
}
.orderItemDeliveryItemImage {
  width: 94px;
  height: 94px;
  background-color: #cacaca;
  border-radius: 8px;
}
