@import "../../../styles/Home.module.scss";
@import "~styles/variables.global.scss";

.productInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.productMobileCardHeader {
  display: none;
  flex-direction: column;
  margin-bottom: 12px;

  @media screen and (max-width: 767px) {
    display: flex;
  }
}

.productCardHeader {
  display: flex;
  flex-direction: column;
}

.left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 784px;
  margin-right: 64px;

  padding: 0;

  @media screen and (max-width: 1024px) {
    margin-right: 32px;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.leftContent {
  position: sticky;
  top: 16px;
}

.right {
  position: relative;
  display: flex;
  width: 50%;
  flex-direction: column;
  max-width: 752px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.productInfoShort {
  max-width: 388px;

  @media screen and (max-width: 500px) {
    max-width: 100%;
  }
}

.leftMenu {
  display: flex;
  flex-wrap: wrap;
  margin: -6px 0 10px;
}

.leftMenuItem {
  display: flex;
  align-items: center;
  padding: 6px 0;

  &:not(:last-child) {
    margin-right: 24px;
  }
}

.leftMenuActions {
  composes: leftMenuItem;
}

.leftMenuActionBtn {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 140%;
  color: $black;

  transition: all 0.2s;

  &.active {
    svg {
      color: var(--primary-color);
      fill: var(--primary-color);
    }
  }

  span {
    margin-left: 8px;
  }

  &:hover {
    color: var(--primary-color);
  }

  &:not(:last-child) {
    margin-right: 24px;
  }

  @media screen and (max-width: 767px) {
    span {
      display: none;
    }

    &:hover {
      color: $black;
    }

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.productRating {
  display: flex;
  align-items: center;
}

.productReviews {
  margin-left: 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--primary-color);
}

.productBlockTitle {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -1px;
  color: #1a1a1a;
}

.productTitle {
  margin: 0;
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
  letter-spacing: -1px;

  border-radius: none;

  @media screen and (max-width: 980px) {
    font-size: 28px;
    line-height: 34px;
  }
}

.productSubinfo {
  margin-top: 4px;

  color: #8d8d8d;
  font-size: 18px;
  line-height: 150%;
}

.productOptionList {
  composes: productInfoShort;
}

.productInfoBlock {
  &:not(:first-child) {
    margin-top: 32px;
  }
}

.productStockInfo {
  composes: productInfoShort;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  cursor: default;
}

.productOrderBtns {
  composes: productInfoBlock;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  button:first-child {
    margin-right: 28px;
  }

  @media screen and (max-width: 980px) {
    button {
      font-size: 14px;
    }
  }
}

.productAccordionBlock {
  margin-top: 48px;

  & + .productAccordionBlock {
    margin-top: 24px;
  }
}

.productBlockList {
  + .productBlockList {
    margin-top: 32px;
  }
}

.mobileHidden {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.mobileVisible {
  display: none;

  @media screen and (max-width: 767px) {
    display: flex;
  }
}
