@import '../../../styles/Home.module.scss';

.productInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.productMobileCardHeader {
  display: none;
  flex-direction: column;
  margin-bottom: 12px;

  @media screen and (max-width: 767px) {
    display: flex;
  }
}

.productCardHeader {
  display: flex;
  flex-direction: column;
}

.left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 784px;
  margin-right: 64px;

  padding: 0;

  @media screen and (max-width: 1024px) {
    margin-right: 32px;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.leftContent {
  position: sticky;
  top: 16px;
}

.right {
  position: relative;
  display: flex;
  width: 50%;
  flex-direction: column;
  max-width: 752px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.productInfoShort {
  max-width: 388px;

  @media screen and (max-width: 500px) {
    max-width: 100%;
  }
}

.leftMenu {
  display: flex;
  flex-wrap: wrap;
  margin: -6px 0 10px;
}

.leftMenuItem {
  display: flex;
  align-items: center;
  padding: 6px 0;

  &:not(:last-child) {
    margin-right: 24px;
  }
}

.leftMenuActions {
  composes: leftMenuItem;
}

.leftMenuActionBtn {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 140%;

  transition: all 0.2s;

  span {
    margin-left: 8px;
  }

  &:hover {
    color: var(--primary-color);
  }

  &:not(:last-child) {
    margin-right: 24px;
  }

  @media screen and (max-width: 767px) {
    span {
      display: none;
    }

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.productRating {
  display: flex;
  align-items: center;
}

.productReviews {
  margin-left: 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--primary-color);
}

.productTitle {
  margin: 0;
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
  letter-spacing: -1px;

  border-radius: none;

  @media screen and (max-width: 980px) {
    font-size: 28px;
    line-height: 34px;
  }
}

.productSubinfo {
  margin-top: 4px;

  color: #8d8d8d;
  font-size: 18px;
  line-height: 150%;
}

.productOptionList {
  composes: productInfoShort;
  margin-top: 24px;
}

.productOption {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.productInfoBlock {
  &:not(:first-child) {
    margin-top: 32px;
  }
}

.productPriceInfo {
  composes: productInfoShort;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  letter-spacing: -1px;
  cursor: default;
}

.productPriceEl {
  padding: 0 6px;
}

.productPriceActual {
  composes: productPriceEl;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;

  @media screen and (max-width: 767px) {
    font-size: 32px;
    line-height: 36px;
  }
}

.productPriceOld {
  composes: productPriceEl;
  padding-bottom: 6px;
  margin-right: auto;

  font-size: 24px;
  line-height: 29px;
  letter-spacing: -2px;
  text-decoration-line: line-through;
  color: #b3b3b3;

  @media screen and (max-width: 767px) {
    margin-right: 0;

    font-size: 18px;
    line-height: 20px;
  }
}

.productDiscount {
  composes: productPriceEl;
  padding-bottom: 16px;

  span {
    display: flex;
    align-items: center;
    min-height: 24px;
    padding: 0 6px;
    background: #4db45e;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;
    color: #ffffff;
  }
}

.productStockInfo {
  composes: productInfoShort;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  cursor: default;
}

.productStock {
  display: flex;
  align-items: center;
  margin-right: 16px;

  color: #1a1a1a;

  svg {
    width: 16px;
    margin-right: 8px;
    height: 16px;

    &.productInStock {
      color: #006400;
    }

    &.productOutStock {
      color: #b81803;
    }
  }
}

.productLoyalty {
  display: flex;
  align-items: center;

  color: var(--blue-color);

  svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    color: var(--primary-color);
  }
}

.productOrderBtns {
  composes: productInfoBlock;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  button:first-child {
    margin-right: 28px;
  }

  @media screen and (max-width: 980px) {
    button {
      font-size: 14px;
    }
  }
}

.productCredit {
  composes: productInfoBlock;

  display: flex;
  flex-wrap: wrap;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.productCreditPayment {
  margin-right: 16px;

  span {
    font-weight: 700;
  }
}

.productDelivery {
  composes: productInfoBlock;
}

.productDeliveryTitle {
  margin-bottom: 12px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.productDeliveryItem {
  font-size: 14px;
  line-height: 140%;

  cursor: default;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.productDeliveryItemType {
  color: var(--blue-color);

  &:hover {
    color: var(--blue-color-hover);
  }
}

.productAccordionBlock {
  margin-top: 48px;

  & + .productAccordionBlock {
    margin-top: 24px;
  }
}

.mobileHidden {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.mobileVisible {
  display: none;

  @media screen and (max-width: 767px) {
    display: flex;
  }
}
