@import "~app/styles/variables.global.scss";

.productOptionTileWrapper {
    width: 33.333%;
    padding-right: 8px;
}

.productOptionTile {
    border: 1px solid $light-grey;
    width: 100%;
    margin-bottom: 8px;
    height: 32px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.2s;

    font-size: 14px;

    &:hover {
        background-color: rgba($light-grey, 0.25);
    }

    &.current {
        border: 2px solid $logo-color;
    }

    &.more {
        background-color: $logo-color-10;
        color: $logo-color;
        border: none;
        font-size: 12px;
    }
}
