@import '../../../styles/Home.module.scss';

.bannerBlock {
  max-height: 162px;
  height: 162px;
  margin-top: 24px;
  border-radius: 8px;
  overflow: hidden;

  &.clickable {
    cursor: pointer;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  img {
    height: 100%;
    width: 100%;
    min-height: 130px;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
  }
}
.bannerBlockMobile {
  display: none;
  margin-bottom: 8px;
  border-radius: 8px;
  min-height: 36vw;
  height: 36vw;
  overflow: hidden;

  &.clickable {
    cursor: pointer;
  }

  @media screen and (max-width: 767px) {
    display: block;
    height: auto;
  }
}

.displayNone {
  display: none;
}
