.images {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.slideImage {
  img {
    height: 100%;
    width: auto;
    margin: 0 auto;
  }
}

.mainSwiperWrapper {
  position: relative;
  padding-top: 70%;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  background: #ffffff;

  overflow: hidden;
  cursor: pointer;

  @media screen and (max-width: 980px) {
    border-color: transparent;
    border-radius: unset;
  }
}

.mainSwiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  :global(.swiper-slide) {
    display: flex;
  }
}

.pagination {
  display: flex;
  margin-top: 8px;
  background-color: #f3f3f3;

  & :global(.swiper-pagination-bullet) {
    flex: 1;
    height: 4px;
  }
  & :global(.swiper-pagination-bullet-active) {
    background: var(--primary-color);
  }

  @media screen and (min-width: 980px) {
    display: none;
  }
}

.thumbsSwiper {
  margin-top: 16px;
  position: relative;
  padding: 0 44px;

  @media screen and (max-width: 980px) {
    display: none;
  }
}

.thumbsNavButton {
  position: absolute;
  top: calc(50% - 12px);
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--primary-color, #a71db5);
  background: #fff;
  cursor: pointer;
  z-index: 20;
}

.thumbsNavButtonNext {
  left: initial;
  right: 0;
}

.thumbsSlide {
  display: flex;
  height: 80px;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  background-color: rgba(26, 26, 26, 0.03);

  overflow: hidden;
  cursor: pointer;

  &:global(.swiper-slide-thumb-active) {
    border-color: var(--primary-color);
    background: #ffffff;
  }
}

.thumbsSlideImage {
  img {
    width: 100%;
    height: 100%;
  }
}
