.deliveryDrawerCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;

  @media screen and (max-width: 468px) {
    display: block;
  }
}
.deliveryDrawerCard {
  position: relative;
  padding: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  transition: border-color 0.2s;
  cursor: pointer;

  &:hover,
  &.active {
    border-color: var(--primary-color, #af1ebe);
  }
  &.active {
    .deliveryDrawerCardType {
      color: var(--primary-color, #af1ebe);
    }
    .deliveryDrawerCardIcon {
      display: block;
    }
  }

  @media screen and (max-width: 468px) {
    margin-bottom: 20px;
  }
}
.deliveryDrawerCardIcon {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 16px;
  height: 16px;
  color: #af1ebe;
}
.deliveryDrawerCardType {
  line-height: 20px;
}
.deliveryDrawerCardPrice {
  margin-top: 4px;
  font-size: 12px;
  line-height: 17px;
  color: #808080;
}

.deliveryDrawerText {
  margin-top: 16px;
}
