.credentials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 80px;
}
.copyright {
  font-size: 12px;
  color: #b3b3b3;
  line-height: 1.5;
}
.payments {
  display: flex;
  justify-content: center;
}
.payment {
  padding: 0 10px;
}

.social {
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
}
.socialItem {
  margin: 0 12px;
}
