@import './StaticPages.module.scss';

.aboutImage {
  width: 100%;
  position: relative;
  margin-top: 20px;

  @media screen and (max-width: 767px) {
    margin-top: 16px;
  }

  > div {
    position: unset !important;
  }

  img {
    width: 100%;
    position: relative !important;
    height: unset !important;
  }
}
