@import './Home.module.scss';

.bannerBlock {
  max-height: 162px;
  border-radius: 8px;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    display: none;
  }

  img {
    height: 100%;
    width: 100%;
    min-height: 130px;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
  }
}
.bannerBlockMobile {
  display: none;
  margin-bottom: 8px;
  border-radius: 8px;
  min-height: 36.231884057971vw;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    display: block;
  }
}
