:root {
  --primary-color: #AF1EBE;
  --primary-color-hover: #EFD2F2;
  --light-primary-color: #EFD2F2;
  
  --container-size: 1345px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.42857143;
  color: #212121;
  background: white;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.15;
  margin: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button { 
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.container {
  max-width: 1640px;
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 16px;
  }
}