.homePage > section + section {
  margin-top: 60px;
}
.homePage > .bannersBlock + section {
  margin-top: 28px;
}
.sectionTitle {
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 500;
  line-height: initial;
}

@media screen and (max-width: 1024px) {
  .homePage > section + section {
    margin-top: 40px;
  }
  .sectionTitle {
    font-size: 28px;
  }
}
@media screen and (max-width: 576px) {
  .sectionTitle {
    margin-bottom: 16px;
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .blogBlock {
    display: none;
  }
}