@import '~styles/variables.global.scss';

.page > section + section {
  margin-top: 80px;
}
.page > .bannersBlock + section {
  margin-top: 80px;
}
.sectionTitle {
  margin: 0 0 24px;
  font-size: 36px;
  font-weight: 500;
  line-height: initial;
}
.sectionSubTitle {
  margin-top: -16px;
  font-size: 16px;
  line-height: 16px;
  color: #808080;
}

.newGoodsBlock {
  @media screen and (min-width: 1441px) {
    > div > div {
      flex: 0 0 12.5%;
      max-width: 12.5%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .page > section + section {
    margin-top: 40px;
  }
  .sectionTitle {
    font-size: 28px;
  }
}
@media screen and (max-width: 576px) {
  .sectionTitle {
    margin-bottom: 16px;
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .blogBlock {
    display: none;
  }
}

.homePage {
  composes: page;
  overflow-x: hidden;
}

.pageError {
  text-align: center;
  padding: 100px 10px 50px;
  color: $error;
}
