.staticPage {
  display: flex;
}
.staticPageContent {
  width: 100%;
  max-width: 660px;

  @media screen and (max-width: 767px) {
    max-width: initial;
  }
}
.staticPageInfo {
  &:not(:first-child) {
    margin-top: 40px;

    @media screen and (max-width: 767px) {
      margin-top: 32px;
    }
  }

  > * + * {
    margin-top: 16px;
  }

  ol {
    padding: 0 0 0 20px;
    list-style-type: decimal;

    > li + li {
      margin-top: 4px;
    }
  }
}

.staticPageTitle {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 500;
  line-height: 29px;
  text-transform: none;

  @media screen and (max-width: 767px) {
    font-size: 24px;
  }
}
.staticPageSubTitle {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;

  @media screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 24px;
  }
}
.staticPageText {
  line-height: 22px;

  &.gray {
    color: #999;
  }
  &.bold {
    font-weight: 500;
    font-size: 16px;

    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }
  &.heavy {
    font-weight: 700;
  }
  &.link {
    color: var(--primary-color, #af1ebe);
    white-space: nowrap;

    &.dotted {
      border-bottom: 2px dotted var(--primary-color, #af1ebe);
    }
  }
}

.staticPageImage {
  width: 100%;
  position: relative;
  margin-top: 20px;

  @media screen and (max-width: 767px) {
    margin-top: 16px;
  }

  > div {
    position: unset !important;
  }

  img {
    width: 100%;
    position: relative !important;
    height: unset !important;
  }
}

.staticPageAccordeon {
  margin-top: 0;

  > div:first-child {
    padding: 16px 0;

    div {
      font-weight: 500;
    }

    svg {
      width: 24px;
      height: 24px;
      color: var(--primary-color, #af1ebe);
    }
  }
  > div:last-child {
    padding: 0;
  }

  .staticPageInfo {
    padding-top: 16px;
    padding-bottom: 32px;
  }
}

.staticPageTable {
  display: table;
  margin-top: 32px;
  width: 100%;
  border-collapse: collapse;

  @media screen and (max-width: 767px) {
    margin-top: 20px;
  }
}
.staticPageTableRow {
  display: table-row;
  + .staticPageTableRow {
    border-top: 1px solid #e0e3e6;
  }
}
.staticPageTableCell {
  display: table-cell;
  padding: 16px 4px 16px 20px;
  + .staticPageTableCell {
    border-left: 1px solid #e0e3e6;
  }
}
.staticPageTableCellTitle {
  font-weight: 700;
}
