.categoryTags {
  display: flex;
  padding: 24px 0 14px;
  margin-bottom: 40px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  flex-wrap: wrap;

  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
}
