.paymentInfo {
  padding: 115px 0 70px;
  text-align: center;
}

.paymentInfoBtn {
  display: inline-flex;
  padding-top: 40px;
}

@media screen and (max-width: 720px) {
  .paymentInfo {
    padding: 80px 0 35px;
  }

  .paymentInfoBtn {
    padding-top: 20px;
  }
}